@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>好资源 - @ViewBag.title</title>
    <link href="~/CSS/common.css" rel="stylesheet" />
    <link href="~/CSS/Beike_Center.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/default.css" />

    <!-- Edit Below -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="~/CSS/Test_Center.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/CustomScripts/Special.js"></script>
    @* 弹窗样式表 *@
    <link rel="stylesheet" href="../css/reveal.css">
    @* 弹窗演示表结束 *@
    @* 弹窗脚本 *@
    <script type="text/javascript" src="../CustomScripts/jquery.reveal.js"></script>
    @* 弹窗脚本结束 *@
</head>
<body>
    <div id="Main">
        @Html.Partial("~/Common/top3.ascx")
        <div id="content">
            <div id="nav_tree">
                <span id="tree_left">
                    首页 > @ViewBag.title
                </span>
                <span id="tree_right">
                    @Html.Partial("~/Common/Search2.ascx")
                </span>
            </div>
            <div id="list">
                <div id="directory" style="width:365px; background:none;">
                    <div class="directory_container" id="hot_download">

                    </div>
                    <br />
                    <div class="directory_container" id="recommend">

                    </div>
                </div>
                <div id="data_list" style="width:812px;">
                    <div class="middle_content_bottom_text_left_title">
                        <span class="title_left" id="title_left"></span>
                        
                    </div>
                    <div id="data_list_td">
                    </div>
                    <div id="pager">
                        <div id="pager_buttons">
                            <div id="prev">
                                <a onclick="anchor(this),pre_page() ">上一页</a>
                            </div>
                            <div id="pages">

                            </div>
                            <div id="next"><a onclick="anchor(this),next_page() ">下一页</a></div>
                            <div id="turn"><span>跳转到</span><input type="text" id="page_size" /><span>页</span><a class="pages_href_selected" onclick="anchor(this),Go() ">GO</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* 预览 *@
    <a href="#" id="message_preview" class="big-link" data-reveal-id="myModal_preview" style="display:none;">
        jquery1
    </a>

    <div id="myModal_preview" class="reveal-modal" style="border: 1px solid #3b4f7c;width:900px; margin-left:-440px; padding:0px; ">
        <iframe id="download_preview" width="895" height="500"></iframe>
        <a class="close-reveal-modal" id="message_close">&#215;</a>
    </div>


   @* 消息提示 *@
<a href="#" id="message_download" class="big-link" data-reveal-id="myModal_download" style="display:none;">
    jquery1
</a>
<div id="myModal_download" class="reveal-modal" style="border: 1px solid #3b4f7c; ">
    <h1 style="font-family:'幼圆'" id="message_content">系统提示:</h1>
    <p id="message_text" style="font-family:'微软雅黑'">Attention please.</p>
    <a class="close-reveal-modal" id="message_close">&#215;</a>
</div>
    @Html.Partial("~/Common/bottom.ascx")
</body>
</html>
